<tr id="<%= dom_id power %>">
  <td><%= power.name %></td>
  <td><%= power.description %></td>
  <td><%= power.damage_points %></td>
  <td><%= power.race.name %></td>
  <td>
    <%= link_to "Editar", edit_power_path(power), class: 'btn btn-warning btn-sm'%>
    <%= link_to "Eliminar", power_path(power), data: { turbo_method: :delete, turbo_confirm: 'Estás seguro de eliminar?' }, class: 'btn btn-danger btn-sm'%>
  </td>
</tr>
