<div class="card" id="<%= dom_id character %>">
  <div class="card-body">
    <div class="row row-cols-4">
      <div class="col">
        <p>
          <strong>Nombre: </strong>
          <%= character.name %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Nivel:</strong>
          <%= character.level %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Mana:</strong>
          <%= character.mana %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Puntos de vida:</strong>
          <%= character.life_points %>
        </p>
      </div>
      <div class="col">
      <p>
        <strong>Estado:</strong>
        <%= character.status.name %>
      </p>
      </div>
      <div class="col">
      <p>
        <strong>Raza:</strong>
        <%= character.race.name %>
      </p>
      </div>
    </div>
  </div>
</div>
