<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Mana:</strong>
    <%= character.mana %>
  </p>

  <p>
    <strong>Life points:</strong>
    <%= character.life_points %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= character.status %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= character.race_id %>
  </p>

</div>
