<div id="<%= dom_id hability %>">
  <p>
    <strong>Name:</strong>
    <%= hability.name %>
  </p>

  <p>
    <strong>Damage points:</strong>
    <%= hability.damage_points %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hability.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= hability.category %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= hability.race_id %>
  </p>

</div>
