<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Damage points:</strong>
    <%= skill.damage_points %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skill.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= skill.category %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= skill.race_id %>
  </p>

</div>
